---
---

@import "{{ site.theme }}";

.page-header {
  background: #eeeeee;
  color: #000000;
}

.main-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #000000;
  }
}

a {
  color: #424242;
  text-decoration: underline;
}

p, li {
  color: #616161;
}

.site-footer-credits {
  color: #424242;
}

.darkmode--activated .woot-widget-bubble {
  filter: invert(100%)
}